<div class="main">
  <div class="question-detail-div">
    <div class="question-detail-left-section"></div>
    <div class="topquestionsection">
      <div class="topquestiontag">
        <h2>Installation Error with pycURL on Python in Ubuntu</h2>
      </div>

      <div class="askquestiobutton">
        <button routerLink="/ask-question">Ask Question</button>

      </div>
   </div>
  </div>
    
 
 
    <div class="body-section">
     <div class="left-section">
          <ul>
             <li routerLink="/">Home</li>
             <li routerLink="/questions">Questions</li>
          </ul>
         </div>
 
         <div class="right-section">
           <div class="question-detail-card">
             <div class="votes-section">
                <ul>
                 <img src="../../../assets/icons/up.svg"/>
                 <li>0</li>
                 <img src="../../../assets/icons/down.svg"/>
                </ul> 
             </div>
             <div class="question-section">
               This is the answer to Installation Error with pycURL on Python  
               <a (click)="togglecommentform()" style="cursor: pointer;">add comment</a>
               <form [formGroup]="commentform" *ngIf="showcommentform === true" style="display: flex;">
                <textarea formControlName="comment"></textarea>
               
               <div *ngIf="commentform.get('comment')?.invalid && (commentform.get('comment')?.dirty || commentform.get('comment')?.touched)">
                <p class="err" *ngIf="commentform.get('comment')?.errors?.['required']">comment is required.</p>
              </div>
              <img src="../../../assets/icons/comment.svg"/>
               </form>
             </div>
            
           </div>
          
           <div class="question-detail-card">
            <div class="votes-section">
               <ul>
                <img src="../../../assets/icons/up.svg"/>
                <li>0</li>
                <img src="../../../assets/icons/down.svg"/>
               </ul> 
            </div>
            <div class="question-section">
              This is the answer to Installation Error with pycURL on Python  
              <a>add comment</a>
             
            </div>
           
          </div>

          <div class="post-answer">
           <form [formGroup]="postanswerform">
            <textarea formControlName="answer">
            
            </textarea>
            <div *ngIf="postanswerform.get('answer')?.invalid && (postanswerform.get('answer')?.dirty || postanswerform.get('answer')?.touched)">
              <p class="err" *ngIf="postanswerform.get('answer')?.errors?.['required']">answer is required.</p>
            </div>

            <button>Post Your Answer</button>
           </form>
          </div>

         </div>
    </div>
 
 
 </div>
 
