<div class="main">
  <div class="question-detail-div">
    <div class="question-detail-left-section"></div>
    <div class="topquestionsection">
      <div class="topquestiontag">
        <h2>Installation Error with pycURL on Python in Ubuntu</h2>
      </div>

      <div class="askquestiobutton">
        <button routerLink="/ask-question">Ask Question</button>

      </div>
   </div>
  </div>
    
 
 
    <div class="body-section">
     <div class="left-section">
          <ul>
             <li>Home</li>
             <li>Questions</li>
          </ul>
         </div>
 
         <div class="right-section">
           <div class="question-detail-card">
             <div class="votes-section">
                <ul>
                 <img src="../../../assets/icons/up.svg"/>
                 <li>0</li>
                 <img src="../../../assets/icons/down.svg"/>
                </ul> 
             </div>
             <div class="question-section">
               This is the answer to Installation Error with pycURL on Python  
               <a href="">add comment</a>
             </div>
            
           </div>
           <div class="question-detail-card">
            <div class="votes-section">
               <ul>
                <img src="../../../assets/icons/up.svg"/>
                <li>0</li>
                <img src="../../../assets/icons/down.svg"/>
               </ul> 
            </div>
            <div class="question-section">
              This is the answer to Installation Error with pycURL on Python  
              <a href="">add comment</a>
            </div>
           
          </div>


          <div class="post-answer">
            <textarea>

            </textarea>

            <button>Post Your Answer</button>
          </div>

         </div>
    </div>
 
 
 </div>
 
