<div class="navbar">
    <div class="logo">
        <a href="">Stack<b>Bug</b></a>
    </div>
    <ul class="middle">
        <a routerLink="/questions"><li>Questions</li></a>
        
        <li class="form">
            <input type="text" placeholder="search"/>
            <button class="search-button">Search</button>
        </li>
    </ul>

    <div class="account-buttons">
        <button routerLink="/login" class="login">login</button>
        <button class="signup" routerLink="/signup">sign up</button>
    </div>
</div>
