<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <nav class="navbar">
    <!-- LOGO -->
    <div class="logo">StackBug</div>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">

      <div class="menu1">
        <li><a routerLink="/questions">Questions</a></li>
        <li>
            <form>
                <input type="text" placeholder="search"/>
            </form>
        </li>
      </div>

      <div class="menu2">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">Register</a></li>
      </div>
      </div>
    </ul>
  </nav>
</body>

</html>