/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nav-links a {
  color: black;
}

/* LOGO */
.logo {
  font-size: 30px;
}

/* NAVBAR MENU */

.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu1 ,.menu2 {
  display: flex;
  gap: 1em;
  font-size: 18px;
}


.menu li:hover {
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 .menu {
    display:none;
    position: fixed;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: flex;
    flex-direction: column;
  }
   
    input[type=checkbox]:checked ~ .menu .menu1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  input[type=checkbox]:checked ~ .menu .menu2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    display: block;
  }
}