<div class="main">
    <div class="ask-question-form">
        <form [formGroup]="updateQestionForm" (ngSubmit)="updateQuestion(question)">
          <h2>Update Question</h2>
          <label for="question-title">Title:</label>
          <input type="text"  placeholder="enter question title" id="question-title" formControlName="title"/>
          
          <div *ngIf="updateQestionForm.get('title')?.invalid && (updateQestionForm.get('title')?.dirty || updateQestionForm.get('title')?.touched)">
            <p class="err" *ngIf="updateQestionForm.get('title')?.errors?.['required']">title is required.</p>
          </div>

          <label for="question-tag">Tags:</label>
          <input type="text"  placeholder="enter question tag eg.python" id="question-tag" formControlName="tags"/>
          
          
          <div *ngIf="updateQestionForm.get('tags')?.invalid && (updateQestionForm.get('tags')?.dirty || updateQestionForm.get('tags')?.touched)">
            <p class="err" *ngIf="updateQestionForm.get('tags')?.errors?.['required']">tags are required.</p>
          </div>
  
          <label for="description">Problem Description:</label>
          <textarea id="description" formControlName="description"></textarea>
          <div *ngIf="updateQestionForm.get('description')?.invalid && (updateQestionForm.get('description')?.dirty || updateQestionForm.get('description')?.touched)">
            <p class="err" *ngIf="updateQestionForm.get('description')?.errors?.['required']">description is required.</p>
          </div>
          
          <label for="code">What you tried and you were expecting:</label>
          <textarea id="code" formControlName="code"></textarea>
           
          <div *ngIf="updateQestionForm.get('code')?.invalid && (updateQestionForm.get('code')?.dirty || updateQestionForm.get('code')?.touched)">
            <p class="err" *ngIf="updateQestionForm.get('code')?.errors?.['required']">field is required.</p>
          </div>
  
          <button [disabled]="updateQestionForm.invalid">Update Question</button>
        </form>
      </div>
</div>
