<div class="main-content">
  <div class="sidebar">
    <div class="profile-section">
      <img src="../../../assets/tupac.png" alt="not found" />
      <h1><b>ADMIN</b></h1>
    </div>
    <div class="nav">
      <ul>
        <li>
          <img src="../../../assets/icons/overview.svg" /><span>Overview</span>
        </li>
        <li (click)="toogleshowquestions()">
          <img src="../../../assets/icons/users.svg" /><span>Users</span>
        </li>
        <li (click)="toogleshowquestions()">
          <img src="../../../assets/icons/projects.svg" /><span>Questions</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="body-section">
    <div *ngIf="showquestions == true">
      <div class="question-list" *ngIf="questions.length>0">
        <div class="question-card" *ngFor="let question of questions">
          <!-- <div class="profile-image">
            <img src="../../../assets/tupac.png" />
          </div> -->

          <div class="question-section">
            <h1>{{question.title}}</h1>
            <h5>{{question.description}}</h5>
          </div>

          <div class="delete-section">
            <img src="../../../assets/icons/delete-icon.svg"  (click)="deleteQuestion(question)"/>
          </div>
        </div>
      </div>
      <div *ngIf="questions.length<0">
          <p>no questions</p>
      </div>
    </div>

    <div *ngIf="showquestions == false">
       <div class="question-list" *ngIf="users.length>0">
      <div class="question-card" *ngFor="let user of users">
        <!-- <div class="profile-image">
          <img src="../../../assets/tupac.png" />
        </div> -->

        <div class="question-section">
          <h1>{{user.username}}</h1>
        </div>

        <div class="delete-section">
          <img src="../../../assets/icons/delete-icon.svg" (click)="deleteUser(user)"/>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
