.main-content{
    display: flex;
    margin-top: 60px;
    /* padding: 20px; */
}
.main-content .sidebar{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #0A95FF;
    color: #ffff;
    width: 12%;
}
.main-content .body-section{
    width: 88%;
    min-height: 100vh;
}

.main-content .sidebar .profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #077dd6;
    padding: 0;
   
}
.main-content .sidebar .profile-section img{
   height: 100px;
   width: 100px;
   border-radius: 50%;
   border: 2px solid white;
   margin-top: 40px;
}

.main-content .sidebar .nav{
    margin-top: 40px;
    padding: 10px;
}
.main-content .sidebar .nav ul li{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}
.body-section .question-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.body-section .question-list .question-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EBF4FB;
    width: 70%;
    padding: 10px 20px;
    margin-top: 10px;
}
.body-section .question-list .question-card img{
   height: 40px;
   width: 40px;
   border-radius: 50%;
}
.question-card .question-section h1{
    font-size: 20px !important;
    font-weight: 600;
}

@media screen and (max-width:768px) {
    .main-content{
        width: 100%;
    }
    .main-content .sidebar{
        width: 10%;
    }
    .main-content .sidebar .profile-section{
        display: none;
    }
    .main-content .sidebar
     .body-section{
        width: 90%;
    }
    .body-section .question-list .question-card{
        width: 80%;
    }
     .nav ul li span{
        display: none;
    }
}