<div class="main-content">
    <div class="sidebar">
       <div class="profile-section">
        <img src="../../../assets/User.png" alt="not found"/>
        <h1>ADMIN</h1>
       </div>
       <div class="nav">
        <ul>
            <li>Home</li>
            <li>Users</li>
            <li>Projects</li>
        </ul>
       </div>
    </div>
    <div class="body-section">
        <div class="question-list">
            <div class="question-card">
                <div class="profile-image">
                   <img src="../../../assets/User.png"/>
                </div>

                <div class="question-section">
                  <h1>This is the question one</h1>
                </div>

                <div class="delete-section">
                <img src="../../../assets/icons/delete-icon.svg"/>
                </div>
            </div>

            <div class="question-card">
                <div class="profile-image">
                   <img src="../../../assets/User.png"/>
                </div>

                <div class="question-section">
                  <h1>This is the question one</h1>
                </div>

                <div class="delete-section">
                <img src="../../../assets/icons/delete-icon.svg"/>
                </div>
            </div>
            <div class="question-card">
                <div class="profile-image">
                   <img src="../../../assets/User.png"/>
                </div>

                <div class="question-section">
                  <h1>This is the question one</h1>
                </div>

                <div class="delete-section">
                <img src="../../../assets/icons/delete-icon.svg"/>
                </div>
            </div>
        </div>
    </div>
</div>
