<div class="main">

  <div class="topquestionsection">
    <div class="topquestiontag">
      <h2>Top Questions</h2>
    </div>

    <div class="askquestiobutton">
    <button routerLink="/ask-question">Ask Question</button>

      <div class="question-tags">
          <table>
              <tr>
                  <td>Interesting</td>
                  <td>Top</td>
                  <td>Latest</td>
              </tr>
          </table>
      </div>
    </div>
 </div>


 <div class="body-section">
  <div class="left-section">
       <ul>
        <li routerLink="/">Home</li>
        <li routerLink="/questions">Questions</li>
       </ul>
      </div>

      <div class="right-section">
        <div class="question-card">
          <div class="votes-section">
             <ul>
              <li>0 votes</li>
              <li>2 answers</li>
             </ul> 
          </div>
          <div class="question-section">
            <h2 routerLink="/question-detail">Installation Error with pycURL on Python in Ubuntu </h2>
            <div class="question-section-tags">
              <p>python1</p>
              <p>pycURL</p>
              
            </div>
          </div>
         
        </div>
        <div class="question-card">
          <div class="votes-section">
             <ul>
              <li>0 votes</li>
              <li>2 answers</li>
             </ul> 
          </div>
          <div class="question-section">
            <h2 routerLink="/question-detail">Installation Error with pycURL on Python in Ubuntu </h2>
            <div class="question-section-tags">
              <p>python1</p>
              <p>pycURL</p>
              
            </div>
          </div>
         
        </div>
        <div class="question-card">
          <div class="votes-section">
             <ul>
              <li>0 votes</li>
              <li>2 answers</li>
             </ul> 
          </div>
          <div class="question-section">
            <h2 routerLink="/question-detail">Installation Error with pycURL on Python in Ubuntu </h2>
            <div class="question-section-tags">
              <p>python1</p>
              <p>pycURL</p>
              
            </div>
          </div>
         
        </div>
        <div class="question-card">
          <div class="votes-section">
             <ul>
              <li>0 votes</li>
              <li>2 answers</li>
             </ul> 
          </div>
          <div class="question-section">
            <h2 routerLink="/question-detail">Installation Error with pycURL on Python in Ubuntu </h2>
            <div class="question-section-tags">
              <p>python1</p>
              <p>pycURL</p>
              
            </div>
          </div>
         
        </div>
      </div>
 </div>



</div>
