<div class="main">

  <div class="topquestionsection">
    <div class="topquestiontag">
      <h2>Top Questions</h2>
    </div>

    <div class="askquestiobutton">
    <button routerLink="/ask-question">Ask Question</button>
    
      <div class="question-tags">
        <form (ngSubmit)="search()">
          <input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search">
          <button type="submit">Search</button>
        </form>
       
          <table>
              <tr>
                  <td (click)="interestingquestions()">Interesting</td>
                  <td (click)="questionswithmostanswers()">Top</td>
                  <td  (click)="questionsWithEmptyAnswers()">Unanswered</td>
              </tr>
          </table>
      </div>
    </div>
 </div>


 <div class="body-section">
  <div class="left-section">
       <ul>
        <li routerLink="/">Home</li>
        <li routerLink="/questions">Questions</li>
       </ul>
      </div>

      <div class="right-section">
        <div class="question-card" *ngFor="let question of questions">
          <div class="question-section">
            <h2 [routerLink]="['/question-detail',question.id]">{{question.title}} </h2>
            <div class="question-section-tags">
             <div class="tags"*ngFor="let tag of question.tags |tagspipe ">
                <a (click)="filterbytags(tag)">{{tag}}</a>
             </div>
              <div class="user">
                <span>@John M</span>
              </div>
            </div>
          </div>
         
        </div>

        <div class="pagination">
          <button  (click)="onPageChange(currentPage - 1)">Previous</button>
  
          <!-- <button *ngFor="let page of pages" (click)="onPageChange(page)" [class.active]="page === currentPage">{{page}}</button> -->
          <button  (click)="onPageChange(currentPage + 1)">Next</button>
      </div>
      </div>
 </div>



</div>
