<div class="main">

  <div class="topquestionsection">
    <div class="topquestiontag">
      <h2>Top Questions</h2>
    </div>

    <div class="askquestiobutton">
    <button routerLink="/ask-question">Ask Question</button>

      <div class="question-tags">
          <table>
              <tr>
                  <td>Interesting</td>
                  <td>Top</td>
                  <td>Latest</td>
              </tr>
          </table>
      </div>
    </div>
 </div>


 <div class="body-section">
  <div class="left-section">
       <ul>
        <li routerLink="/">Home</li>
        <li routerLink="/questions">Questions</li>
       </ul>
      </div>

      <div class="right-section">
        <div class="question-card" *ngFor="let question of questions">
          <div class="votes-section">
             <ul>
              <li>1 votes</li>
              <li>2 answers</li>
             </ul> 
          </div>
          <div class="question-section">
            <h2 [routerLink]="['/question-detail',question.id]">{{question.title}} </h2>
            <a [routerLink]="['/update-question', question.id]">update question</a>
            <div class="question-section-tags">
             <div class="tags">
                <p>python1</p>
              <p>pycURL</p>
             </div>
              <div class="user">
                <span>@John M</span>
              </div>
            </div>
          </div>
         
        </div>

        <div class="pagination">
          <button  (click)="onPageChange(currentPage - 1)">Previous</button>
  
          <!-- <button *ngFor="let page of pages" (click)="onPageChange(page)" [class.active]="page === currentPage">{{page}}</button> -->
          <button  (click)="onPageChange(currentPage + 1)">Next</button>
      </div>
      </div>
 </div>



</div>
