<div class="main-section">
  <div class="left-section">
    <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/questions">Questions</li>
    </ul>
  </div>
  <div class="right-section">
    <div class="top-section">
      <div class="profile-content">
        <div class="profile">
          <div class="profile-image">
            <img src="../../../assets/User.png" alt="not found" />
          </div>
          <div class="Name">
            <h1>{{user.username}}</h1>
            <h4>{{user.email}}</h4>
          </div>
        </div>
      </div>

      <div class="update-profile-button">
        <button (click)="showupdateprofile()">update profile</button>
      </div>
    </div>

    <div class="bottom-section">
      <div class="header">
        <h1>Profile</h1>
      </div>

      <div class="bottom-section-content">
         <div class="bottom-left-section">
      <ul>
         <li (click)="toggleshowquestionstrue()">Questions</li>
         <li (click)="toggleshowquestionsfalse()">Answers</li>
      </ul>
         </div>
         <div class="bottom-right-section" *ngIf="!updateProfileFormShow">
          <div *ngIf="userquestions.length > 0 && showquestions">
            <div class="question-card" *ngFor="let question of userquestions">
              <div class="question-section">
                <h2 routerLink="/question-detail">{{question.title}}</h2>
                <a [routerLink]="['/update-question', question.id]" style="color: #0A95FF;">update question</a>
                <img src="../../../assets/icons/delete-icon.svg" (click)="deleteQuestion(question)"/>
                <div class="question-section-tags">
               {{question.tags}}
                  
                </div>
              </div>
             
            </div>
          </div>

          <div class="bottom-right-section" *ngIf="userquestions.length <0 && showquestions">
                <p>uliza maswali kijana</p>
          </div>
          
          <div *ngIf="useranswers.length > 0 && !showquestions">
            <div class="question-card" *ngFor="let answer of useranswers">
              <div class="question-section">
                <h2 routerLink="/question-detail">{{answer.answer}}</h2>
              </div>
             
            </div>
          </div>

         </div>

         <!-- form  to update user -->

       <div class="bottom-right-section">
        <div class="update-profile" *ngIf="updateProfileFormShow">
          <h2>Update Profile</h2>
        
          <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile(usertoupdate)">
              <div class="form-group">
                  <label for="username">UserName</label>
                  <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter name">
              </div>
              <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
