<div class="main">
    <div class="login">
        
        <form  (ngSubmit)="submit()" class="form" [formGroup]="loginForm">
          <h1>Login</h1>
            <input type="email" formControlName="email" placeholder="Enter Your Email">
            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
              <p class="err" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</p>
              <p class="err" *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</p>
            </div>
            <input type="password" formControlName="password" placeholder="Enter Your Password">
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
              <p class="err" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</p>
            </div>
            <button type="submit">Login</button>
            <p>Don't have an account? <a routerLink="/signup">create account</a></p>
            <p> <a routerLink="">Reset Password?</a></p>
          </form>
        
    </div>

</div>
