<div class="main">
    <div class="login">
          <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
              <h1>Login</h1>
             
              <label for="email">Email</label>
              <input type="email" id="email" name="email" [(ngModel)]="email" required email>
              <div class="err" *ngIf="myForm.controls['email']?.invalid && (myForm.controls['email']?.dirty || myForm.controls['email']?.touched)">
                <div class="err" *ngIf="myForm.controls['email'].errors?.['required']">Email is required.</div>
                <div class="err" *ngIf="myForm.controls['email'].errors?.['email']">Invalid email format.</div>
              </div>

              <label for="password">Password</label>
              <input type="text" id="name" name="password" [(ngModel)]="password" required>
              <div class="err" *ngIf="myForm.controls['password']?.invalid && (myForm.controls['password']?.dirty || myForm.controls['password']?.touched)">
                <div class="err" *ngIf="myForm.controls['password'].errors?.['required']">Password is required.</div>
              </div>
             
              <div class="err" *ngIf="error">{{error.error.message}}</div>
            
            <button type="submit" [disabled]="myForm.invalid">Submit</button>
            <p>Don't have an account? <a routerLink="/signup">create account</a></p>
            <p> <a routerLink="/forgotten-password">Reset Password?</a></p>
          </form>
          
         
          
        
    </div>

</div>
<app-display-message [message]="message" *ngIf="message"></app-display-message>
