<div class="main">
    <div class="landing">
        <div class="community-card">
          <div class="community-card-content">
            Find The Best Answers To Your Technical Question,help others answer theirs
          </div>
          <button routerLink="/questions" >join the community</button>
          <div class="or">or <a href="" style="color:#0A95FF;">search content</a></div>
        </div>
      
        <div class="teams-card">
          <div class="teams-card-content">
            <div class="teams-card-content">
              Want a secure, private space for your technical knowledge
            </div>
            <button routerLink="/admin" >join the community</button>
          </div>
        </div>
      
      
      </div>
      <div class="landingtextdiv">
        <div class="landingtext">
            Every <span>developer</span> has a tab open to stack<b>Bug</b>
          </div>
      </div>
</div>
