<div class="main">
    <div class="login">
          <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
              <h1>Forgotten Password?</h1>
              <h5><i>Enter email to receive reset instructions</i></h5><br>
              <label for="email">Email</label>
              <input type="email" id="email" name="email" [(ngModel)]="email" required email>
              <div class="err" *ngIf="myForm.controls['email']?.invalid && (myForm.controls['email']?.dirty || myForm.controls['email']?.touched)">
                <div class="err" *ngIf="myForm.controls['email'].errors?.['required']">Email is required.</div>
                <div class="err" *ngIf="myForm.controls['email'].errors?.['email']">Invalid email format.</div>
              </div>
         
            
            <button type="submit" [disabled]="myForm.invalid">reset</button>
          </form>
          
          
          
        
    </div>

</div>
