.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    height: 90vh;
}
.login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFF;
    width: 35vw;
    padding: 20px 40px;
}

.login h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.login label{
    margin: 5px 0;
}
.login form input{
    margin: 10px 0;
    outline:  2px solid black;
    height: 40px;
    border-radius: 5px;

}
.login button{
    background-color: #0A95FF;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
}
.login p a{
    color: #0A95FF;
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .main{
        width: 100vw;
    }
    .login form{
        width: 100%;
    }
}