.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    height: 90vh;
}
.signin form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFF;
    width: 35vw;
    padding: 30px 60px;
}
.signin h1{
    font-size: 30px;
    font-weight: 500;
}
.signin label{
    margin: 15px 0;
}
.signin input{
    /* border-bottom: 2px solid black; */
    outline:  2px solid black;
    height: 40px;
    border-radius: 5px;

}
/* .signin input:focus{
    outline: none;
} */
.signin button{
    background-color: #0A95FF;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
}
.signin p a{
    color: #0A95FF;
}
@media screen and (max-width:768px) {
    .main{
        width: 100vw;
    }
    .signin form{
        width: 100%;
    }
}