<div class="main">
    <div class="guidelines">
        <h2>Writing A Good Question</h2>
        <ul>
            <li>This is the guideline guideline1</li>
            <li>This is the guideline guideline2</li>
            <li>This is the guideline guideline3</li>
        </ul>

    </div>
    <div class="ask-question-form">
      <form [formGroup]="askQestionForm">
        <h2>Ask A Question</h2>
        <label for="question-title">Title:</label>
        <input type="text"  placeholder="enter question title" id="question-title" formControlName="title"/>
        
        <div *ngIf="askQestionForm.get('title')?.invalid && (askQestionForm.get('title')?.dirty || askQestionForm.get('title')?.touched)">
          <p class="err" *ngIf="askQestionForm.get('title')?.errors?.['required']">title is required.</p>
        </div>


        <label for="question-problem">Problem Description:</label>
        <textarea id="question-problem" formControlName="problem"></textarea>
        <div *ngIf="askQestionForm.get('problem')?.invalid && (askQestionForm.get('problem')?.dirty || askQestionForm.get('problem')?.touched)">
          <p class="err" *ngIf="askQestionForm.get('problem')?.errors?.['required']">description is required.</p>
        </div>
        
        <label for="question-expectations">What you tried and you were expecting:</label>
        <textarea id="question-expectations" formControlName="expectations"></textarea>
         
        <div *ngIf="askQestionForm.get('expectations')?.invalid && (askQestionForm.get('expectations')?.dirty || askQestionForm.get('expectations')?.touched)">
          <p class="err" *ngIf="askQestionForm.get('expectations')?.errors?.['required']">field is required.</p>
        </div>


        <button>Ask Question</button>
      </form>
    </div>
</div>
