<div class="main">
    <div class="guidelines">
        <h2>Writing A Good Question</h2>
        <ul>
            <li>This is the guideline guideline1</li>
            <li>This is the guideline guideline2</li>
            <li>This is the guideline guideline3</li>
        </ul>

    </div>
    <div class="ask-question-form">
      <form [formGroup]="askQuestionForm" (ngSubmit)="onSubmit()">
        <h2>Ask A Question</h2>
        <label for="question-title">Title:</label>
        <input type="text"  placeholder="enter question title" id="question-title" formControlName="title"/>
        
        
        <div *ngIf="askQuestionForm.get('title')?.invalid && (askQuestionForm.get('title')?.dirty || askQuestionForm.get('title')?.touched)">
          <p class="err" *ngIf="askQuestionForm.get('title')?.errors?.['required']">title is required.</p>
        </div>

        <label for="question-tag">Tags:</label>
        <input type="text"  placeholder="enter question tag eg.python" id="question-tag" formControlName="tags"/>
        
        
        <div *ngIf="askQuestionForm.get('tags')?.invalid && (askQuestionForm.get('tags')?.dirty || askQuestionForm.get('tags')?.touched)">
          <p class="err" *ngIf="askQuestionForm.get('tags')?.errors?.['required']">tags are required.</p>
        </div>


        <label for="description">Problem Description:</label>
        <textarea id="description" formControlName="description"></textarea>
        <div *ngIf="askQuestionForm.get('description')?.invalid && (askQuestionForm.get('description')?.dirty || askQuestionForm.get('description')?.touched)">
          <p class="err" *ngIf="askQuestionForm.get('description')?.errors?.['required']">description is required.</p>
        </div>
        
        <label for="code">What you tried and you were expecting:</label>
        <textarea id="code" formControlName="code"></textarea>
         
        <div *ngIf="askQuestionForm.get('code')?.invalid && (askQuestionForm.get('code')?.dirty || askQuestionForm.get('code')?.touched)">
          <p class="err" *ngIf="askQuestionForm.get('code')?.errors?.['required']">field is required.</p>
        </div>


        <button>Ask Question</button>
      </form>
    </div>
</div>
